<div class="w-full h-screen flex flex-row">
  <div class="w-1/3 h-full inline-flex flex-col justify-center items-center">
    <h1 class="text-indigo-300 text-6xl">Wallet</h1>
    <div class="inline-flex flex-col justify-center items-center mt-12">
      <h3 class="text-xl text-indigo-300">Sum of Assets</h3>
      <h2 *ngIf="!(loading$ | async )" class="text-5xl font-bold text-indigo-400 mt-4">{{ total | currency: 'US$' }}</h2>
      <h2 *ngIf="(loading$ | async )" class="spinner spinner-blue spinner-large border-indigo-300 text-5xl font-bold text-indigo-400 mt-4"></h2>
    </div>
  </div>
  <div class="w-2/3 h-full bg-indigo-300 inline-flex flex-col">
    <h2 class="text-indigo-100 text-3xl w-full pt-12 pl-12">Assets</h2>
    <div class="w-full h-full">
      <h2 *ngIf="(loading$ | async )" class="spinner spinner-white spinner-large border-indigo-300 text-5xl font-bold text-indigo-400 mt-4"></h2>
    </div>
    <h2 *ngIf="(loading$ | async )" class="spinner spinner-blue spinner-large border-indigo-300 text-5xl font-bold text-indigo-400 mt-4"></h2>
  </div>
</div>
